<nav class="navbar">
  <button type="button" id="search-btn">
    <i class="search-icon material-icons">search</i>
  </button>
  <ul class="links">
    <li><a class="btn" href="/">Weather</a></li>
    <li><a class="btn btn-filled" href="/api-docs">API docs</a></li>
  </ul>
</nav>