@keyframes show {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes hide {
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(1.2, 1.2);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}